
.bg-image {
    background-image: url('img/wallpaper.jpg'); 
    background-size: cover;
    position: fixed; 
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
 
.container {
  color: white;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Sansita', sans-serif;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active a.active) {background-color: rgb(185, 11, 11);}
    
  ul.topnav li.right {
	float: right;
	font-family: 'Damion', cursive;
	background-color: rgb(185, 11, 11);
	font-size: 32px;
	font-weight: 500;
}

ul.topnav {
	font-size: 20px;
}
  
  

